
header{

  background: red;

}




body { 
  background color:red;

}
h1 {
color: white;
}
h2{
  text-align: center;
}


destination {

  text-align: c;
  background-color: ;
  text color: ;
  padding-left:;
}


footer {
  background-color:red;
  padding-block: 50px;
  margin-bottom: 10;5 px;
  text-overflow: 5px;
  text-align: center;
text color: white;

}
p {
  color: white

}
contact {
  text-align: center;
}